{% comment %}
Replace all hardcoded values with dynamic values from the product object
  - Elements' id & remove button = product handle
  - Data points from product metafields
  - Thumbnail image 200x width filter
{% endcomment %}

<div class="compare-product-card" id="{{ product.handle }}">
  <div class="remove-wrap">
    <button class="remove-product-button" data-removeproducthandle="{{ product.handle }}" aria-label="Remove product">
    </button>
  </div>
  <a class="link-wrapper" href="/products/{{ product.handle }}">
    <div class="image-wrap">
      <img src="{{ product.featured_image | image_url: width: 200 }}" alt="{{ product.title }}">
    </div>
    <div class="product-infos">
      <h4>{{ product.title }}</h4>
      <p><strong>Rating:</strong> {{ product.metafields.bike.rating }}⭐</p>
      <p><strong>Frame:</strong> {{ product.metafields.bike.frame }}</p>
      <p><strong>Suspension:</strong> {{ product.metafields.bike.suspension }}</p>
      <p><strong>Brake:</strong> {{ product.metafields.bike.brake }}</p>
      <p><strong>Gears:</strong> {{ product.metafields.bike.gear }}</p>
      <p id="price"><strong>Price: {{product.price | money }}</strong></p>
    </div>
  </a>
  </div>
{% schema %}
{
  "name": "compare product card",
  "settings": []
}
{% endschema %}
